@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.formulario {
  margin-top: 5rem;

  .campo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    label {
      flex: 0 0 10rem;
    }
    input {
      @include m.colorCampos(v.$pizarra, v.$azul);
    }
  }
}
