@use 'base/variables' as v;
@use "sass:color";

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;
    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: color.scale($bgColor, $lightness: -10%);
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin textoDegradado ($colorInicial, $colorSecundario){
      background: linear-gradient(
      to right,
      $colorInicial 0%,
      color.scale($colorSecundario, $lightness: 30%) 100%
    );
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 7rem;

    @include tablet {
      font-size: 10rem;
    }
}