@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.crear {
    margin-top: 5rem;

  .uptask {
  @include m.textoDegradado (v.$carbon, v.$azul);
  }

   input[type="submit"]{

    @include m.boton (v.$carbon, v.$blanco);
  }

  .acciones{
    a{
      color: v.$carbon;
    }
  }
}

