@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.login {
    margin-top: 5rem;
  .uptask {
   @include m.textoDegradado (v.$pizarra, v.$esmeralda);
  }

  input[type="submit"]{

    @include m.boton (v.$esmeralda, v.$blanco);
  }

  .acciones{
    a{
      color: v.$esmeralda;
    }
  }
}
