@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.login {
    margin-top: 5rem;
  .uptask {
    background: linear-gradient(
      to right,
      v.$pizarra 0%,
      color.scale(v.$esmeralda, $lightness: 30%) 100%
    );
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 7rem;

    @include m.tablet {
      font-size: 10rem;
    }
  }

  input[type="submit"]{

    @include m.boton (v.$esmeralda, v.$blanco);
  }

  .acciones{
    a{
      color: v.$esmeralda;
    }
  }
}
