@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.olvide {
    margin-top: 5rem;

  .uptask {
  @include m.textoDegradado (v.$rosa, v.$lavanda);
  }

   input[type="submit"]{

    @include m.boton (v.$rosa, v.$blanco);
  }

  .acciones{
    a{
      color: v.$rosa;
    }
  }
}