@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.reestablecer {
    margin-top: 5rem;
  .uptask {
   @include m.textoDegradado (v.$SkyBlue, v.$pizarra);
  }

  input[type="submit"]{

    @include m.boton (v.$RoyalBlue, v.$nieve);
  }

  .acciones{
    a{
      color: v.$plata;
    }
  }
}